<strong>Number</strong>: <a href="{{ path('sylius_admin_order_show', { id: data.payment.order.id }) }}">{{ data.orderNumber }}</a><br>
<strong>Ordered</strong>: {{ data.payment.order.checkoutCompletedAt|localizeddate }}<br>
